[submodule "include/CppCmb"]
	path = include/CppCmb
	url = https://github.com/LPeter1997/CppCmb.git

[submodule "include/cxxopts"]
	path = include/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
